{% extends "layout.html" %}

{% block content %}

<div class="mobile-phone">
    <div id="stationmap" class="station-map"></div>
    <div class="app-menu">
        <div class="menu-button"></div>
        <div class="menu-button" onclick="placeMarker()"></div>
        <div class="menu-button"></div>
        <div class="menu-button"></div>
    </div>
</div>

<script type="text/javascript">
    function placeMarker() {
        let box = {
            left: { lat: 52.0882596, long: 5.1100644 },
            right: { lat: 52.0883596, long: 5.1100648 }
        };
        //application.stationMap.placeMarker(52.0883, 5.11, 'Ready to meet!!.');
        application.requestOccupancy("2018-05-07T08:00:00");
    }
</script>
{% endblock %}