{% extends "layout.html" %}

{% block content %}

<div class="mobile-phone">
    <div id="stationmap" class="station-map"></div>
    <div class="app-menu">
        <div class="menu-button"></div>
        <div class="menu-button" onclick="placeMarker()"></div>
        <div class="menu-button"></div>
        <div class="menu-button"></div>
    </div>
</div>

<script type="text/javascript">
    var time = new Date("2018-05-07T08:00:00");
    function placeMarker() {
        application.requestMeetingPoint(time);
    }

    setInterval(() => {
            time = new Date(time.setSeconds(time.getSeconds() + 3));
        application.requestOccupancy(time);
        },
        3000);
    
</script>
{% endblock %}